.construction {
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.construction-wrapper {

}

.construction-img-wrapper,
.construction-text-wrapper {
    display: inline-block;
    margin: 0;
}

.construction-main-text,
.construction-secondary-text {
    margin: 0;
    color: white;
}

.construction-main-text {
    font-weight: bold;
    font-size: 50px;

}

.construction-secondary-text {
    font-size: 24px;
    font-weight: 300;
}

@media(max-width : 414px) {
    .construction-img-wrapper,
    .construction-text-wrapper {
        display: block;
    }

    .construction-img-wrapper {
        margin-left: 30px;
    }

}