.select-select {
    height: 37px;
    border: 2px solid black;
    background-color: white;
    transition: all 0.2s;
}

.select-select.disabled i,
.select-select.disabled input {
    pointer-events: none;
}

.select-select.disabled {
    background-color: #F4F4F4;
    border-color: #DCDCDC;
    color: #DCDCDC;
}

.select-select.disabled:hover {
    cursor: not-allowed;
}

.select-select.disabled i {
    color: #DCDCDC;
}

.select-select.disabled input::-webkit-input-placeholder {
    color: #DCDCDC;
}

.select-select.disabled input::placeholder {
    color: #DCDCDC;
}

.select-select i,
.select-select input {
    display: inline-block;
    position: relative;
}

.select-select i {
    color: black;
    float: right;
    top: 10px;
    transition: transform 0.2s;
    margin-right: 10px;
}

.select-select i:hover {
    cursor: pointer;
}

.select-select.open i {
    transform: rotate(180deg);
    top: 11px;
}

.select-select input {
    border: none;
    background-color: transparent;
    float: left;
    outline: 0;
    color: black;
    height: 100%;
    font-size: 13px;
    width: 75%;
    margin-left: 10px;
}

.select-list,
.select-select {
    width: 100%;
}

.select-list {
    border: none;
    background-color: transparent;
    max-height: 0;
    transition: max-height 0.2s;
    overflow: hidden;
}

.select-list,
.select-list li {
    display: block;
    float: left;
}

.select-list.open {
    border: 2px solid black;
    border-top: none;
    max-height: 324px;
    overflow: auto;
}

.select-list li {
    position: relative;
    display: block;
    background-color: transparent;
    color: black;
    float: none;
    text-align: left;
    padding: 12px;
    font-size: 12px;
}

.select-list li.closed {
    display: none;
}

.select-list li:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.select-select input::-webkit-input-placeholder {
    color: black;
}

.select-select input::placeholder {
    color: black;
}