date-picker,
time-picker {
    position: relative;
}

.date-picker,
.time-picker {
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    z-index: 99999999;
    margin-top: -2px;
}

.date-picker {
    width: 200px;
    padding: 15px;
}

.time-picker {
    width: 90px;
    padding: 10px;
}

.date-picker,
.time-picker-wrapper {
    position: absolute;
}

.month-picker {
    margin-bottom: 15px;
}

.day-picker,
.month-picker {
    width: 100%;
}

.month-picker {
    display: block;
}

.month-picker .month {
  display: inline !important;
  font-size: 13px;
}

.prev-month:hover,
.next-month:hover {
    cursor: pointer;
}

.prev-month {
    float: left;
}

.next-month {
    float: right;
}

.day-picker {
    display: table;
}

.week {
    display: table-row;
}

.day {
    display: table-cell;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 50%;
}

.day.week-day {
    font-weight: bold;
}

.day:hover {
    cursor: pointer;
}

.day.disabled {
    color: #AAA4A4;
}

.day.selected {
    background-color: black;
    color: white;
    font-weight: bold;
}

.day.today {
    border: 1px solid black;
}

.day.disabled:hover,
.day.selected:hover {
    pointer-events: none;
    cursor: default;  
}

.time-picker {
    position: relative;
    float: right;
}

.time-picker-wrapper {
    left: 0;
}

.form-input.ng-invalid,
.form-input.ng-invalid + i.date,
.form-input.ng-invalid + i.time {
    color: #EC6347;
}

i.date,
i.time {
    margin-left: -36px;
}

.hours-picker,
.minutes-picker {
    width: 30%;
    height: 30%;
    border: none;
    outline: none;
}

.hours-picker:hover,
.minutes-picker:hover,
.hours-picker:focus,
.minutes-picker:focus {
    border-bottom: 1px solid black;
}

.hours-picker {
    text-align: right;
}

.minutes-picker {
    text-align: left;
}

.hours-picker::-webkit-outer-spin-button,
.hours-picker::-webkit-inner-spin-button,
.minutes-picker::-webkit-outer-spin-button,
.minutes-picker::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.time-separator {
    margin-left: 2px;
    margin-right: 2px;
}