.review-container {
    background-color: white; /* Used if the image is unavailable */
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.review-main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.review-title {
    font-size: 35px;
    color: black;
    opacity: 0.9;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: 'Merienda', cursive;
}

.form-block {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-block > div,
.subform-block > div {
    margin-top: 8px;
}

.form-block > div,
.subform-block > div {
    margin-bottom: 15px;
}

.subform-block,
.form-block {
    display: block;
}

.radio-block {
    margin-top: 15px !important;
}

.label-form {
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 700;
    display: block;
    margin-top: 25px;
}

.label-form.disabled {
    color: #DCDCDC;
}

.label-input {
    font-size: 12px;
    font-weight: 600;
}

.form-input {
    border: 2px solid black;
    border-radius: 1px;
    outline: none;
    padding-left: 10px;
    padding: 10px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 12px;
    margin-bottom: 1px;
}

.form-input.ng-invalid {
    border-color: #EC6347;
    color: #EC6347;
}

.form-input.ng-invalid,
.form-input.ng-invalid + i.date,
.form-input.ng-invalid + i.time {
    color: #EC6347;
}

.form-input::-webkit-input-placeholder {
    color: #EE7C7F !important;
    font-size: 12px;
}

.form-input::-moz-placeholder {
    color: #EE7C7F !important;
    font-size: 12px;
}

.form-input::-ms-placeholder {
    color: #EE7C7F !important;
    font-size: 12px;
}

.form-input::placeholder {
    color: #EE7C7F !important;
    font-size: 12px;
}

.moment-picker {
    z-index: 90999999 !important;
}

i.date,
i.time {
    margin-left: -35px;
}

#recaptcha {
    display: flex;
    justify-content: center;
}

.rc-anchor-light.rc-anchor-normal {
    border-radius: 20px !important;
}

#recaptcha.ng-invalid html div.rc-anchor {
    border: solid 2px #EC6347;
}

.review-submit-btn {
    padding: 13px;
    width: 206px;
    border-style: solid;
    border-width: 2px;
    border-color: #151515;
    border-radius: 50px;
    background-color: #151515;
    color: white;
    transition: all 0.2s, background-color 0.2s;
    outline: 0;
    font-weight: 600;
}

.review-submit-btn disabled,
.review-submit-btn disabled:hover {
    border-color: #F4F4F4;
    background-color: #F4F4F4;
    color: #DCDCDC;
}

.review-submit-btn disabled:hover {
    cursor: not-allowed;
}

.review-submit-btn:hover {
    background-color: white;
    color: #151515;
    border-color: #151515;
    cursor: pointer;
}

[type="radio"] {
    position: absolute;
    left: -9999px;
}

[type="radio"] + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    margin-left: 10px;
    color: black;
}

[type="radio"].ng-invalid + label {
    color: #EC6347;
}

[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: white;
}

[type="radio"].ng-invalid + label:before {
    border-color: #EC6347;
}

[type="radio"] + label:after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #393939;
}

[type="radio"] + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"].checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.required::after {
    content: "*";
}

.required {
    color: red;
}

.custom-select {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (min-width : 200px) {
    .review {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transition: transform 0.4s;
        margin: 0;
        padding: 0;
    }
}

@media (min-width : 480px) {
    .review {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
        transition: transform 0.4s;
        margin: 0;
        padding: 0;
    }

    .form {
        margin-top: 50px;
        width: 100%;
    }
}

@media (max-width : 1300px) {
    .label-input {
        display: block;
        margin-bottom: 7px;
    }
}