<input readonly class="form-input" ng-class="{'ng-invalid': form.dateUntil.isInvalid}" placeholder="Fecha" ng-model="vm.selectedDate" ng-click="vm.openDatePicker($event);" type="text"/>
<i ng-click="vm.openDatePicker($event);" class="icon-calendar-1 date"></i>

<div ng-if="vm.isDatePickerOpen()" class="date-picker date-picker-clickable{{vm.datePickerIndex}}">

    <div class="month-picker date-picker-clickable{{vm.datePickerIndex}}">
        <i class="icon-left-open prev-month date-picker-clickable{{vm.datePickerIndex}}" ng-click="vm.previousMonth();"></i>

        <div class="month date-picker-clickable{{vm.datePickerIndex}}">
            <strong class="date-picker-clickable{{vm.datePickerIndex}}">{{vm.currentMonth.month.description + " de " + vm.currentMonth.date.getFullYear()}}</strong>
        </div>

        <i class="icon-right-open next-month date-picker-clickable{{vm.datePickerIndex}}" ng-click="vm.nextMonth();"></i>
    </div>

    <div class="day-picker date-picker-clickable{{vm.datePickerIndex}}">
        <div class="week date-picker-clickable{{vm.datePickerIndex}}">
            <div class="day week-day disabled date-picker-clickable{{vm.datePickerIndex}}" ng-repeat="day in vm.days">{{day}}</div>
        </div>

        <div class="week date-picker-clickable{{vm.datePickerIndex}}" ng-repeat="week in vm.currentMonth.month.weeks">
            <div class="day date-picker-clickable{{vm.datePickerIndex}}" ng-repeat="day in week.days track by $index" ng-click="vm.selectDate(day);" ng-class="{'today': vm.isToday(day) ,'selected': vm.isDateSelected(day), 'disabled': vm.mustDateBeDisabled(day)}">{{day ? day.getDate() : ""}}</div>
        </div>
    </div>

</div>