<div class="info-wrapper">

    <div class="info-panel">
        <h1>Cómo Viajamos</h1>
        <p class="first">
            Cómo viajamos es una iniciativa que pretende generar estadísticas reales sobre el viaje en transporte público en la ciudad de buenos aires.
        </p>
        <p>
            Para generar estadísticas reales necesitamos datos reales. Y ahí es donde entrás VOS.
        </p>
        <p>
            La idea es que después de cada viaje te tomes un segundo para ingresar en la página y contarnos cómo viajaste.
        </p>
        <p>
            El funcionamiento es muy sencillo. Sólo tenés que brindar la información básica del viaje y listo!
        </p>
        <p>
            Sólo lleva unos segundos y cuando contemos con datos suficientes se realizarán estadísitcas que reflejarán un REAL estado del viaje en transporte público en la ciudad.
        </p>
        <p>
            Estos datos permitirán, también, observar patrones de comportamiento generales al transporte y de esta manera se podrán realizar predicciones sobre futuros viajes.
        </p>
        <p>
            Un caso bien simple y básico de ejemplo:
        </p>
        <p>
            Si la estadísitca arroja que la línea 24 de colectivos, de lunes a viernes en un determinado horario tiene siempre mala frecuencia durante el último mes. Ya sabés que te conviene elegir otra opción la próxima...
        </p>
    </div>

</div>
