<div class="review-container">

    <popup-header></popup-header>
    <popup-body>
        <div class="review-main">
            <h1 class="review-title">Cómo Viajaste</h1>
            <hr />

            <form>
                <div class="form-block">
                    <label class="label-form">CONTANOS EN QUÉ VIAJASTE<span class="required"></span></label>

                    <div class="subform-block radio-block">
                        <label ng-repeat="transportType in transportTypes">
                            <input class="radio-form" type="radio" id="{{transportType.description}}" name="radio-group" ng-class="{'checked': transportType.selected}">
                            <label class="label-input" for="{{transportType.description}}" ng-click="transportTypeHasBeenSelected(transportType);">{{transportType.description}}</label>
                        </label>
                    </div>

                    <div class="subform-block">

                        <label class="label-input">Línea<span class="required"></span></label>
                        <div class="custom-select">
                            <custom-select items="transports" selected="selectedTransport" change="transportHasBeenSelected(selectedItem);"></custom-select>
                        </div>

                        <label class="label-input">Ramal<span class="required"></span></label>
                        <div class="custom-select">
                            <custom-select items="branches" selected="selectedBranch" change="branchHasBeenSelected(selectedItem);"></custom-select>
                        </div>

                        <label class="label-input">Orientación<span class="required"></span></label>
                        <div class="custom-select">
                            <custom-select items="orientations" selected="selectedOrientation" change="orientationHasBeenSelected(selectedItem);"></custom-select>
                        </div>
                    </div>

                </div>

                <hr />

                <div class="form-block">
                    <label class="label-form">¿EN QUÉ FRANJA HORARIA (APROX) VIAJASTE?<span class="required"></span></label>

                    <div class="subform-block">
                        <label class="label-input">Desde<span class="required"></span></label>
                        <input class="form-input" ng-model="dateTimeFrom" ng-model-options="{ updateOn: 'blur' }" placeholder="Fecha" moment-picker="date" locale="es" format="L" min-view="year" start-view="day" today="true" keyboard="true">
                        <input class="form-input" ng-model="dateTimeFrom" ng-model-options="{ updateOn: 'blur' }" placeholder="Hora desde" moment-picker="timeFrom" format="HH:mm" keyboard="true">
                    </div>

                    <div class="subform-block">
                        <label class="label-input">Hasta<span class="required"></span></label>
                        <input class="form-input" ng-model="dateTimeUntil" ng-model-options="{ updateOn: 'blur' }" placeholder="Fecha" moment-picker="date" locale="es" format="L" min-view="year" start-view="day" today="true" keyboard="true">
                        <input class="form-input" ng-model="dateTimeUntil" ng-model-options="{ updateOn: 'blur' }" placeholder="Hora hasta" moment-picker="timeUntil" format="HH:mm" keyboard="true">
                    </div>

                </div>

                <hr />

                <div class="form-block">
                    <div class="subform-block">
                        <label class="label-form">¿CÓMO VIAJASTE?<span class="required"></span></label>
                        <div class="custom-select">
                            <custom-select items="feelings" selected="selectedFeeling" change="feelingHasBeenSelected(selectedItem);"></custom-select>
                        </div>
                    </div>

                    <div class="subform-block">
                        <label class="label-form">CONTANOS POR QUÉ<span class="required"></span></label>
                        <div class="custom-select">
                            <custom-select items="reasons" selected="selectedReason"></custom-select>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="form-block">
                    <button class="review-submit-btn" ng-class="{'disabled': formIsValid}">LISTO</button>
                </div>
            </form>
        </div>

    </popup-body>

</div>