<div class="review-container" id="reviewContainer">

    <popup-header></popup-header>
    <popup-body>
        <div class="review-main">
            <h1 class="review-title">Cómo Viajaste</h1>
            <hr />

            <form>
                <div class="form-block">
                    <label class="label-form">CONTANOS EN QUÉ VIAJASTE<span class="required"></span></label>

                    <div class="subform-block radio-block">
                        <label ng-repeat="transportType in transportTypes">
                            <input class="radio-form" type="radio" id="{{transportType.description}}" name="radio-group" ng-class="{'checked': transportType.selected, 'ng-invalid': form.transportType.isInvalid}">
                            <label class="label-input" for="{{transportType.description}}" ng-click="transportTypeHasBeenSelected(transportType);">{{transportType.description}}</label>
                        </label>
                    </div>

                    <div class="subform-block">

                        <label class="label-input">Línea<span class="required"></span></label>
                        <div class="custom-select" ng-class="{'ng-invalid': form.transport.isInvalid}">
                            <custom-select items="transports" selected="selectedTransport.description" change="transportHasBeenSelected(selectedItem);"></custom-select>
                        </div>

                        <label class="label-input">Ramal<span class="required"></span></label>
                        <div class="custom-select" ng-class="{'ng-invalid': form.transportBranch.isInvalid}">
                            <custom-select items="branches" selected="selectedBranch.description" change="branchHasBeenSelected(selectedItem);"></custom-select>
                        </div>

                        <label class="label-input">Orientación<span class="required"></span></label>
                        <div class="custom-select" ng-class="{'ng-invalid': form.transportOrientation.isInvalid}">
                            <custom-select items="orientations" selected="selectedOrientation.description" change="orientationHasBeenSelected(selectedItem);"></custom-select>
                        </div>
                    </div>

                </div>

                <hr />

                <div class="form-block">
                    <label class="label-form">¿EN QUÉ FRANJA HORARIA (APROX) VIAJASTE?<span class="required"></span></label>

                    <div class="subform-block">
                        <label class="label-input">Desde<span class="required"></span></label>
                        <date-picker picker="datePickerFrom"></date-picker>
                        <!--<input class="form-input" ng-class="{'ng-invalid': form.dateFrom.isInvalid}" placeholder="Fecha" ng-flatpickr fp-opts="dateFromOptions" fp-on-setup="datePostSetup(fpItem)" ng-model="dateFrom">
                        <i class="icon-calendar-1 date"></i>-->
                        <input class="form-input" ng-class="{'ng-invalid': form.timeFrom.isInvalid}" placeholder="Hora" ng-flatpickr fp-opts="timeFromOptions" fp-on-setup="datePostSetup(fpItem)" ng-model="timeFrom">
                        <i class="icon-clock time"></i>
                    </div>

                    <div class="subform-block">
                        <label class="label-input">Hasta<span class="required"></span></label>
                        <date-picker picker="datePickerUntil"></date-picker>
                        <!--<input class="form-input" ng-class="{'ng-invalid': form.dateUntil.isInvalid}" placeholder="Fecha" ng-flatpickr fp-opts="dateUntilOptions" fp-on-setup="datePostSetup(fpItem)" ng-model="dateUntil">
                        <i class="icon-calendar-1 date"></i>-->
                        <input class="form-input" ng-class="{'ng-invalid': form.timeUntil.isInvalid}" placeholder="Hora" ng-flatpickr fp-opts="timeUntilOptions" fp-on-setup="datePostSetup(fpItem)" ng-model="timeUntil">
                        <i class="icon-clock time"></i>
                    </div>

                </div>

                <hr />

                <div class="form-block">
                    <div class="subform-block">
                        <label class="label-form">¿CÓMO VIAJASTE?<span class="required"></span></label>
                        <div class="custom-select" ng-class="{'ng-invalid': form.feeling.isInvalid}">
                            <custom-select items="feelings" selected="selectedFeeling.description" change="feelingHasBeenSelected(selectedItem);"></custom-select>
                        </div>
                    </div>

                    <div class="subform-block">
                        <label class="label-form" ng-class="{'disabled': !reasons.length}">CONTANOS POR QUÉ<span ng-class="{'required': reasons.length > 0}"></span></label>
                        <div class="custom-select" ng-class="{'ng-invalid': form.reason.isInvalid}">
                            <custom-multiple-select items="reasons" selected='""' change="reasonsHasBeenSelected(selectedItems);"></custom-multiple-select>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="form-block">
                    <div id="recaptcha" ng-class="{'ng-invalid': form.captcha.isInvalid}" class="g-recaptcha" data-sitekey="6Le_OnQUAAAAAKTZbYcByh3tLeP3ZFdXJxv0yEdH"></div>
                </div>

                <hr />

                <div class="form-block">
                    <button class="review-submit-btn" ng-click="saveReview();">LISTO</button>
                </div>
            </form>
        </div>

    </popup-body>

</div>