<div class="review-container" id="reviewContainer">

    <div class="review-ok" ng-if="reviewWasSaved">
        <div class="review-ok-wrapper">
            <div>
                <img src="src/logo-ok.svg">
                <p>Listo! Gracias por tu opinión!</p>
                <p class="light">Volviendo en {{countdown}}</p>
            </div>

        </div>
    </div>

    <popup-header></popup-header>
    <popup-body>
        <div class="review-main">
            <h1 class="review-title">Cómo Viajaste</h1>
            <hr />

            <form>
                <div class="form-block">
                    <label class="label-form">CONTANOS EN QUÉ VIAJASTE<span class="required"></span></label>

                    <div class="subform-block radio-block">
                        <label ng-repeat="transportType in transportTypes">
                            <input class="radio-form" type="radio" id="{{transportType.description}}" name="radio-group" ng-class="{'checked': transportType.selected, 'ng-invalid': form.transportType.isInvalid}">
                            <label class="label-input" for="{{transportType.description}}" ng-click="transportTypeHasBeenSelected(transportType);">{{transportType.description}}</label>
                        </label>
                    </div>

                    <div class="subform-block">

                        <label class="label-input">Línea<span class="required"></span></label>
                        <div class="custom-select" ng-class="{'ng-invalid': form.transport.isInvalid}">
                            <custom-select items="transports" selected="selectedTransport.description" change="transportHasBeenSelected(selectedItem);"></custom-select>
                        </div>

                        <label class="label-input">Ramal<span class="required"></span></label>
                        <div class="custom-select" ng-class="{'ng-invalid': form.transportBranch.isInvalid}">
                            <custom-select items="branches" selected="selectedBranch.description" change="branchHasBeenSelected(selectedItem);"></custom-select>
                        </div>

                        <label class="label-input">Orientación<span class="required"></span></label>
                        <div class="custom-select" ng-class="{'ng-invalid': form.transportOrientation.isInvalid}">
                            <custom-select items="orientations" selected="selectedOrientation.description" change="orientationHasBeenSelected(selectedItem);"></custom-select>
                        </div>
                    </div>

                </div>

                <hr />

                <div class="form-block">
                    <label class="label-form">¿EN QUÉ FRANJA HORARIA (APROX) VIAJASTE?<span class="required"></span></label>

                    <div class="subform-block">
                        <label class="label-input">Desde<span class="required"></span></label>
                        <date-picker picker="datePickerFrom" callback="dateFromHasChanged()"></date-picker>
                        <time-picker picker="timePickerFrom" callback="timeFromHasChanged()"></time-picker>
                    </div>

                    <div class="subform-block">
                        <label class="label-input">Hasta<span class="required"></span></label>
                        <date-picker picker="datePickerUntil" callback="dateUntilHasChanged()"></date-picker>
                        <time-picker picker="timePickerUntil" callback="timeUntilHasChanged()"></time-picker>
                    </div>

                </div>

                <hr />

                <div class="form-block">
                    <div class="subform-block">
                        <label class="label-form">¿CÓMO VIAJASTE?<span class="required"></span></label>
                        <div class="custom-select" ng-class="{'ng-invalid': form.feeling.isInvalid}">
                            <custom-select items="feelings" selected="selectedFeeling.description" change="feelingHasBeenSelected(selectedItem);"></custom-select>
                        </div>
                    </div>

                    <div class="subform-block">
                        <label class="label-form" ng-class="{'disabled': !reasons.length}">CONTANOS POR QUÉ<span ng-class="{'required': reasons.length > 0}"></span></label>
                        <div class="custom-select" ng-class="{'ng-invalid': form.reason.isInvalid}">
                            <custom-multiple-select items="reasons" selected='""' change="reasonsHasBeenSelected(selectedItems);"></custom-multiple-select>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="form-block">
                    <button class="review-submit-btn" ng-click="saveReview();">LISTO</button>
                </div>
            </form>
        </div>

    </popup-body>

</div>